<!DOCTYPE html>
<html>
  <head>
    {%include 'bootstrap.html'%}
    
    <title>Shubham Mahto</title>
  
  </head>
  <body>
    {%include 'nav.html'%}
    {%include 'banner.html'%}
    <div class="container">
      <h1 class="text-center mt-2 mb-4">Gamma Careers</h1>
      <div class="row" style="margin-bottom:16px">
        <div class="col-md-6">
          <p class="lead">Gamma Careers is the premier destination for professionals seeking unparalleled opportunities in the software services industry. As a part of the largest software service company in the world, Gamma Careers offers a dynamic and innovative environment where individuals can thrive and excel in their careers.

          Joining Gamma Careers means being a part of a global leader in software services, with endless opportunities for advancement and growth. If you're looking to take your career to the next level, Gamma Careers is the place to be.</p>
        </div>
        <div class="d-none d-md-block col-md-6">
          <img src=/static/people.jpg style="height:320px;border-radius:4px">
        </div>
      </div>
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <p>
        {% for job in jobs %}
         {%include 'jobitems.html' %}
        {% endfor %}
      </p>
      <div class="text-center">
        <a class="btn btn-primary btn-lg" href="mailto:shubhammahto2033@gmail.com?subject=Question%20about%20Job%20Openings&body=My%20Name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20Question%3A%20%3Center%20question%20here%3E">Contact Us</a>
      </div>
    </div>
    {%include 'footer.html'%}
  </body>
</html>